/* * {
  overflow-x: hidden;
} */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #0f111a;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.react-chatbot-kit-user-avatar-container {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 4px;
  background-color: rgb(55, 107, 126);
  display: flex;
  justify-content: center;
  align-items: center;
}
::-webkit-scrollbar {
  display: none;
}
.react-chatbot-kit-chat-message-container {
  padding: 0 6.5px 10px 17.5px;
  overflow: scroll;
  height: 424px;
}

.react-chatbot-kit-chat-header {
  font-family: "Poppins", sans-serif !important;
}

.react-chatbot-kit-chat-bot-message,
.react-chatbot-kit-user-chat-message {
  font-size: 0.8rem;
}

.react-chatbot-kit-chat-container {
  width: 35rem !important;
  height: 100vh;
  position: absolute;
  top: 8rem;
}
.react-chatbot-kit-chat-input-container {
  position: relative !important;
}

.DatePicker_dateDayItem__Cqzqz {
  font-size: 8px !important;
  padding: 5px;
}
.time-header {
  color: black;
  font-size: 20px;
  text-align: start;
}

.time-parent {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.time-div {
  display: flex;
  gap: 10px;
  margin-left: -8px;
}

.time-section {
  width: 55px;
  height: 25px;
  font-size: 10px;
  border: 1px solid rgb(55, 107, 126);
  background-color: white;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  color: black;
  transition: all 300ms ease-out;
  outline: none;
}

.time-section:hover {
  background-color: rgb(55, 107, 126);
  color: white;
}

.selected {
  background-color: rgb(55, 107, 126); /* Change this to your desired color */
  color: #fff; /* Change this to the text color you prefer */
  /* Add any other styles you want for the selected button */
}

.courses-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 15px;
  margin-bottom: 15px;
}

.courses-btn {
  border-radius: 999px;
  border-color: rgb(55, 107, 126);
  padding: 5px;
  cursor: pointer;
  outline: none;
  transition: all 100ms ease-out;
}
.courses-btn:hover {
  background-color: rgb(55, 107, 126);
  color: white;
}
.DatePicker_button__qGviS {
  background-color: rgb(55, 107, 126);
}

.home-section {
  display: flex;
}

.home-image-div {
  flex: 1;
}

.home-image {
  position: relative;
  top: 14rem;
  left: -5rem;
  background-repeat: no-repeat;
  background-size: contain;
  width: 40rem;
}

.chat-section {
  flex: 1;
}

.title {
  display: flex;
  flex-direction: column;
  color: #2e6cb5;
  position: absolute;
  top: 10rem;
  left: 15rem;
}

.greet-text {
  margin-top: -40px;
}
